*{
    font-family: 'Nunito', sans-serif;
}




.sent{
    width: 50%;
    list-style-type: none;
    background-color:#d8f3dc;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 1%;
    margin-bottom: 2%;
    margin-left: 40%;
    box-shadow: 1px 0px 5px #aaaaaa
}

.replies {
    width: 50%;
    list-style-type: none;
    background-color:#fff;

    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 1%;
    margin-bottom: 2%;
    box-shadow: 1px 0px 5px #aaaaaa
}

.main-rec {
    width: 50%;
    margin: auto;
    text-align: center;
    border: 1px solid rgb(108, 205, 223);
    border-radius: 10px;
    margin-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 5%;
}

.txt {
    margin-top: 10%;
    font-weight: 600;
    font-size: 1.5rem;
}


.form-container{
    margin-top: 10%;
}

.auth-input-container{
    text-align: left;
    margin: auto;
    width: 50%;
    margin-bottom: 2%;

}

.auth-input-container label{
    font-size: 1rem;
    font-weight: bold;

}

.auth-input-container input {
    width: 100%;
    padding: 5%;
    margin-top: 2%;
    margin-bottom: 5%;
    border-radius: 0.3rem;
    border: 2px solid rgb(108, 205, 223);
}

.form-container button{
  
   
    padding: 2% 3%;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    cursor: pointer;

}

.signup-btn{
    border: none;
    margin-bottom: 3%;
    background-color: rgb(108, 205, 223);
    color: white;
}

.createacc-btn {
    background-color: white;
    border: 1px solid rgb(108, 205, 223);
    color: rgb(108, 205, 223);
}

.top-bar {
    position: fixed;
    background-color: #74C69D;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    padding: 1%;
    border: 1px solid #52B788;
    

}

.log-out{
    text-align: right;
    padding-right: 5%;
}

.log-out button {
    background-color: #fff;
    color: #74C69D;
    cursor: pointer;
    border: none;
    padding: 1% 2%;
    border-radius: 0.5rem;
}

.welc-user{
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}

.chat-body{
    background-image: url("/public/Images/marissa-rodriguez-2mKYEVGA4jE-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

.main-body{
    display: grid;
    grid-template-columns: 70% auto;

}

.messagebox{

    padding: 2%;
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border: 1px solid #52B788;
}

.sendbox{
    position: fixed;
    bottom: 0;
    width: 67.7%;
    display: grid;
    grid-template-columns: 85% 15%;
    padding: 1%;
    background-color: transparent;
    
   
}
#chat-log {
    padding-bottom: 5%;
    padding-top: 6%;
    
}
.sessions{
    border: 1px solid rgb(108, 205, 223);
    height: 94%;
    position: fixed;
    overflow-y: scroll;
    right: 0;
    width: 30%;
    margin-top: 6%;
    margin-bottom: 20%;

}

.sessions-ul li{
    list-style-type: none;
    border: 1px solid #52B788;
    list-style: none;
    padding: 5%;
}
.sess-cont{
    display: grid;
    grid-template-columns: auto auto;
}
.sessions-ul{
    padding: 0;
}
.sessions-ul button {
    background-color: white;
    color: #52B788;
    border: 1px solid #52B788;
    border-radius: 0.2rem;
    cursor: pointer;
    vertical-align: middle;
}

.sessions p{
    font-weight: bold;
    text-align: center;
}
.sess-but{
    text-align: right;
}
.send-button{
    background-color: white;
    border: 1px solid #52B788;
    color: #52B788;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    cursor: pointer;
}

.mainmessage{
    word-wrap: break-word;
    font-size: 1rem;
    padding-left: 3%;
}

.author{
    font-size: 0.7rem;
    font-weight: 600;
    color: #2d6a4f;
}

.timestamp{
    font-size: 0.7rem;
    color: gray;
    margin-right: 5%;

}

.timediv{
    text-align: right;
}


